{% if S_SHOW_MULTI_TOPIC_ICONS %}
<dl>
	<dt><label for="icon">{{ lang('ICONS') ~ lang('COLON') }}</label></dt>
	<dd>
		{% EVENT posting_editor_topic_icons_prepend %}

		<label for="icon"><input type="radio" name="icon" id="icon" value="0" checked="checked" tabindex="1" /> {{ lang('NO_TOPIC_ICON') }}</label>
		{% for icon in topic_icon %}<label for="icon-{{ icon.ICON_ID }}"><input type="checkbox" name="icon" id="icon-{{ icon.ICON_ID }}" value="{{ icon.ICON_ID }}" {{ icon.S_ICON_CHECKED }} tabindex="1" /><img src="{{ icon.ICON_IMG }}" width="{{ icon.ICON_WIDTH }}" height="{{ icon.ICON_HEIGHT }}" alt="{{ icon.ICON_ALT }}" title="{{ icon.ICON_ALT }}" /></label>{% endfor %}

		{% EVENT posting_editor_topic_icons_append %}
	</dd>
</dl>
{% endif %}
